.cart-icon {
  width: 50px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}

.shopping-icon {
  width: 50%;
}

.item-count {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  bottom: 10px;
  right: 11px;
}
