.group {
  position: relative;
  margin: 25px 0;
}

.form-input {
  display: block;
  background: none !important;
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  margin: 16px 0;
}
.form-input:focus {
  outline: none;
}

.form-input-label {
  top: 0;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
}
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:valid,
.form-input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.form-input:focus ~ .form-input-label,
.form-input:valid ~ .form-input-label,
.form-input:active ~ .form-input-label,
.form-input:-webkit-autofill ~ .form-input-label {
  transform: translateY(-20px);
  font-size: 11px;
  letter-spacing: 1px;
}

input[type="password"] {
  margin-bottom: 0;
}
